In [2]:
import numpy as np
import scipy as sp
import scipy.linalg
import scipy.stats
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from sklearn.metrics import r2_score
import pickle
import time
from scipy.optimize import fsolve
from scipy.optimize import least_squares
from scipy.optimize import minimize
from scipy import sparse
import os.path
from scipy.interpolate import splrep, splev
import pandas as pd
from scipy.stats import norm
from sklearn.linear_model import LinearRegression
sys.path.append('../..')
from CIMatrixLib.src.util import *
from CIMatrixLib.src.TreatPattern import *
from CIMatrixLib.src.algorithms.DebiasConvex import *
from CIMatrixLib.src.algorithms.CovariancePCA import *
from CIMatrixLib.src.algorithms.MCNNM import *
from CIMatrixLib.src.algorithms.RobustSyntheticControl import *
import CIMatrixLib.src.readData as readData
from CIMatrixLib.src.algorithms.OLS import *
from CIMatrixLib.src.algorithms.SDID import *
import importlib

sns.set_style("whitegrid")

In [3]:
import datetime as dt

In [4]:
train = pd.read_csv('dataset/train.csv')
store = pd.read_csv('dataset/store.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
display(train)
display(store)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [6]:
df = train
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['MonthName'] = df['Date'].dt.strftime('%b')
df['Year'] = df['Date'].dt.year
df['WeekofYear'] = df['Date'].dt.isocalendar().week
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Month,MonthName,Year,WeekofYear
0,1,5,2015-07-31,5263,555,1,1,0,1,7,Jul,2015,31
1,2,5,2015-07-31,6064,625,1,1,0,1,7,Jul,2015,31
2,3,5,2015-07-31,8314,821,1,1,0,1,7,Jul,2015,31
3,4,5,2015-07-31,13995,1498,1,1,0,1,7,Jul,2015,31
4,5,5,2015-07-31,4822,559,1,1,0,1,7,Jul,2015,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,1,Jan,2013,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1,1,Jan,2013,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1,1,Jan,2013,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1,1,Jan,2013,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1,1,Jan,2013,1

In [7]:
store = store[['Store', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval']]
df = df.merge(store, on = ['Store'], how = 'inner')
display(df)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Month,MonthName,Year,WeekofYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1115,6,2013-01-05,4771,339,1,0,0,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017205,1115,5,2013-01-04,4540,326,1,0,0,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017206,1115,4,2013-01-03,4297,300,1,0,0,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017207,1115,3,2013-01-02,3697,305,1,0,0,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017208,1115,2,2013-01-01,0,0,0,0,a,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [8]:
df['Month_Promo'] = df[['MonthName','PromoInterval']].apply(lambda x: x[0] in (str(x[1]).split(',')))

In [9]:
df['Month_Promo'] = df[['MonthName','PromoInterval']].apply(lambda x: x[0] in (str(x[1]).split(',')), axis = 1)
display(df)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Month,MonthName,Year,WeekofYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month_Promo
0,1,5,2015-07-31,5263,555,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN,False
1,1,4,2015-07-30,5020,546,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN,False
2,1,3,2015-07-29,4782,523,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN,False
3,1,2,2015-07-28,5011,560,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN,False
4,1,1,2015-07-27,6102,612,1,1,0,1,7,Jul,2015,31,0,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1115,6,2013-01-05,4771,339,1,0,0,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec",False
1017205,1115,5,2013-01-04,4540,326,1,0,0,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec",False
1017206,1115,4,2013-01-03,4297,300,1,0,0,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec",False
1017207,1115,3,2013-01-02,3697,305,1,0,0,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec",False
1017208,1115,2,2013-01-01,0,0,0,0,a,1,1,Jan,2013,1,1,22.0,2012.0,"Mar,Jun,Sept,Dec",False

In [10]:
df['Promo_new'] = df.Promo2.where(df.Month_Promo & ((df.Year-df.Promo2SinceYear)*100+(df.WeekofYear-df.Promo2SinceWeek)>=0), 0)

In [11]:
df['Promo_new'].sum()

146837

In [13]:
sale_matrix = pd.DataFrame(df.pivot_table(index = 'Store', columns = 'Date', values='Sales'))
display(sale_matrix)

Z = pd.DataFrame(df.pivot_table(index = 'Store', columns = 'Date', values='Promo_new'))
display(Z)

Z2 = pd.DataFrame(df.pivot_table(index = 'Store', columns = 'Date', values='Promo'))

import pickle 
pickle.dump('drug_sale.p', sale_matrix)

Date,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07,2013-01-08,2013-01-09,2013-01-10,...,2015-07-22,2015-07-23,2015-07-24,2015-07-25,2015-07-26,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31
Store,,,,,,,,,,,,,,,,,,,,,
1,0.0,5530.0,4327.0,4486.0,4997.0,0.0,7176.0,5580.0,5471.0,4892.0,...,3464.0,3769.0,3706.0,4364.0,0.0,6102.0,5011.0,4782.0,5020.0,5263.0
2,0.0,4422.0,4159.0,4484.0,2342.0,0.0,6775.0,6318.0,6763.0,5618.0,...,5093.0,4108.0,3854.0,2512.0,0.0,6627.0,5671.0,6402.0,5567.0,6064.0
3,0.0,6823.0,5902.0,6069.0,4523.0,0.0,12247.0,9800.0,8001.0,7772.0,...,5414.0,5702.0,5080.0,3878.0,0.0,8107.0,8864.0,7610.0,8977.0,8314.0
4,0.0,9941.0,8247.0,8290.0,10338.0,0.0,12112.0,10031.0,8857.0,9472.0,...,8503.0,7286.0,8322.0,9322.0,0.0,11812.0,10275.0,10514.0,10387.0,13995.0
5,0.0,4253.0,3465.0,4456.0,1590.0,0.0,6978.0,5718.0,5974.0,4999.0,...,3595.0,3713.0,3815.0,2030.0,0.0,7059.0,6083.0,5899.0,4943.0,4822.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,0.0,5097.0,4579.0,4640.0,3325.0,0.0,9444.0,6472.0,5307.0,5887.0,...,4021.0,3587.0,3918.0,2177.0,0.0,7742.0,6793.0,4907.0,5263.0,5723.0
1112,0.0,10797.0,8716.0,9788.0,9513.0,0.0,25165.0,17058.0,14724.0,14366.0,...,6029.0,6730.0,6220.0,6216.0,0.0,14383.0,9583.0,9179.0,9652.0,9626.0
1113,0.0,6218.0,5563.0,5524.0,5194.0,0.0,8984.0,6866.0,6115.0,7508.0,...,4565.0,6410.0,6399.0,4784.0,0.0,7582.0,6468.0,6640.0,7491.0,7289.0
1114,0.0,20642.0,18463.0,18371.0,18856.0,0.0,21237.0,18816.0,17073.0,18075.0,...,20424.0,20564.0,19627.0,21312.0,0.0,26720.0,25518.0,25840.0,24395.0,27508.0
1115,0.0,3697.0,4297.0,4540.0,4771.0,0.0,6905.0,5243.0,4649.0,5007.0,...,5342.0,6150.0,5816.0,6897.0,0.0,10712.0,8093.0,7661.0,8405.0,8680.0

Date,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07,2013-01-08,2013-01-09,2013-01-10,...,2015-07-22,2015-07-23,2015-07-24,2015-07-25,2015-07-26,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31
Store,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

TypeError: file must have a 'write' attribute

In [175]:
sale_matrix = sale_matrix.fillna(0).to_numpy()
remaining_cols = np.sum(sale_matrix==0, axis = 0) < 2000
remaining_rows = (np.sum(sale_matrix==0, axis = 1) < 2000) & (np.sum((Z.fillna(0)>0.5).to_numpy(), axis=1) != 0)

sale_matrix = sale_matrix[:, remaining_cols]
sale_matrix = sale_matrix[remaining_rows, :]

Z = (Z.fillna(0)>0.5).to_numpy()
Z = Z[:, remaining_cols]
Z = Z[remaining_rows, :]

Z2 = (Z2.fillna(0)>0.5).to_numpy()
Z2 = Z2[:, remaining_cols]
Z2 = Z2[remaining_rows, :]

In [176]:
Z.shape

(571, 942)

In [177]:
Z3 = (Z2 + Z >= 1)

In [1]:
#plt.imshow(sale_matrix == 0, cmap = 'Greys')
#plt.savefig('sales.eps', format='eps', dpi = 300)
#plt.show()

In [2]:
#plt.imshow(sale_matrix)
#sns.heatmap(sale_matrix)
#plt.savefig('sales.eps', format='eps', dpi = 300)
#plt.show()

In [21]:
np.mean(sale_matrix, axis = 1)

array([ 4755.90629012,  4945.59435173,  6942.56867779,  9638.33119384,
        4645.37355584,  5480.15917843,  8832.91784339,  5536.00898588,
        6562.33761232,  5569.80231065,  8031.50962773,  7589.51476252,
        5508.56739409,  6669.88960205,  7660.96405648,  6315.68934531,
        6541.61103979,  6464.91527599,  5468.24518614,  5520.28112965,
        9388.28626444,  6645.08344031,  9478.57381258,  5203.4762516 ,
        7364.77535302,  5281.18870347,  5862.6957638 ,  8436.65982028,
        8030.03851091,  9703.07188703,  7065.54557125,  6004.64313222,
        4852.57124519,  4883.45956354, 10178.13607189,  6822.9139923 ,
        5479.68164313,  5348.46983312,  7146.09627728,  3934.67779204,
        7285.36071887,  4256.07060334,  5265.96020539,  7882.48267009,
        4572.13735558,  7319.96148909, 10390.07060334,  5485.54685494,
        7987.95121951,  4709.88189987,  6503.86649551,  6955.28241335,
       10359.52503209,  5083.28112965,  6098.66238768,  7808.83055199,
        7561.45442875,  9428.72528883,  6601.66367137,  9061.09756098,
        4577.34531451,  6232.53530167,  6023.89602054,  7622.13350449,
        3696.75609756,  5460.18613607,  7616.27342747,  9019.6534018 ,
        3887.70603338, 12955.99743261,  6467.19127086,  4688.99486521,
        5867.53530167,  5991.26572529,  8405.96405648,  5548.11168164,
        5996.68421053,  5965.1758665 ,  7121.14377407,  7596.59691913,
        5149.98844673,  6664.35430039,  5109.86392811,  7468.50706033,
        6982.28112965, 10123.1758665 ,  8569.23620026,  7334.35686778,
        6464.89987163,  4535.25673941,  6771.76123235,  6229.94223363,
        5331.31450578,  7284.16431322,  3881.9563543 ,  7760.75994865,
        6006.68806162,  7110.70988447,  4430.34403081,  6907.03465982,
        8225.06546855,  4424.14634146, 11829.50320924,  6507.75353017,
        7455.41335045,  5122.53658537,  5275.40436457,  6446.29910141,
        4725.92041078,  5951.24646983,  7293.57124519,  7470.39666239,
        5526.51604621,  4603.96534018,  6314.75609756,  7812.83055199,
        8212.55840822,  8641.0860077 ,  8418.15532734,  6719.05648267,
        5541.93966624,  7066.81258023,  8740.06803594,  6937.45699615,
        9722.79075738,  8156.86521181,  5730.72785623,  7252.59820282,
        7768.20282413,  7300.74197689,  5819.24646983,  9244.15532734,
        7497.84852375,  7098.45827985,  5009.44159178,  8429.14762516,
        8231.81001284,  5784.10526316,  5278.17715019,  3974.78947368,
       10032.13863928,  7295.27471117,  7217.00770218,  5303.99101412,
        6577.36713736,  7170.37612323,  6281.86136072,  4986.95250321,
        8762.92939666,  5348.26957638,  4817.09370988, 10713.17971759,
        5200.76508344,  6847.00898588,  2893.82284981,  7955.6970475 ,
        7729.54428755,  5249.35173299,  6065.20924262,  6757.61232349,
        6535.69961489,  7157.55198973, 11185.84210526,  2935.42105263,
        6039.62259307,  3193.98459564, 12995.88318357,  4776.22207959,
        8131.04107831,  9331.87548139,  7198.94480103,  4697.66495507,
        3133.71245186,  4887.53786906,  5819.72272144,  4982.53530167,
        7210.8716303 ,  6612.72785623,  5171.77150193,  7260.77792041,
        5935.4351733 ,  7946.13992298,  8645.36328626,  7559.98587933,
        3292.36713736,  9431.88960205, 11072.31578947,  5938.2618742 ,
        7119.97689345,  4535.84980745,  7533.85879332,  5071.21052632,
        4812.69833119,  6583.22721438,  4095.37612323,  5271.09884467,
        8897.81129653,  7078.05776637,  8578.11168164,  8362.72785623,
        5285.53145058,  8465.31450578, 19123.06803594, 10615.51219512,
        5746.72400513,  3005.98331194,  6271.1309371 ,  9795.01155327,
        5334.44287548, 10839.97047497,  6558.72528883, 12587.50192555,
       19051.64698331,  4954.82926829,  4365.70988447,  9283.54043646,
        4880.20539153,  9346.70603338,  9287.50449294,  7801.38896021,
        6241.41848524,  7059.64826701,  3515.32477535,  4069.53915276,
        7143.02053915,  6251.39794608,  5858.98587933,  4407.11553273,
        5153.41463415,  4916.72913992,  6323.20410783,  7014.15789474,
        7978.48138639,  5640.92169448,  6250.26957638,  5773.35686778,
        5271.86136072,  6966.58023107,  6974.11938383,  6572.07445443,
        7081.47111682,  5538.4775353 ,  3741.81258023,  6084.88575096,
        7067.07445443,  5347.97689345,  2694.42875481,  9221.08985879,
        6971.31964056,  9095.16174583,  6639.14505777,  5569.79974326,
        7053.69319641,  5137.71501926,  4252.74197689,  9855.62516046,
        7482.89216945,  7787.91527599, 14831.98459564,  5920.42747112,
        5006.63286264,  7365.35943517,  5655.61874198,  6484.64569961,
        5008.90372272,  7664.11938383,  4432.02952503,  6912.71630295,
        4166.63799743,  6160.85622593,  3709.32605905,  9770.40693196,
        5428.38510911, 14448.02439024, 13895.94094994,  5048.05391528,
        7219.8279846 ,  6485.43260591,  5511.53401797,  7199.36585366,
        8478.37740693,  6830.50064185,  4791.85622593,  7013.92682927,
        6046.8677792 ,  6690.59435173,  5194.42362003,  8390.58151476,
        9149.15661104,  5704.59820282,  7630.80616175, 10306.11168164,
        6851.25545571,  6935.61617458,  6230.93196406,  9376.56225931,
        7132.54172015,  4506.35558408,  6161.01155327,  5252.77663671,
        9661.40051348,  6853.32477535,  7649.64313222,  6888.9127086 ,
        8786.20667522,  4518.8716303 ,  7010.15789474,  9116.07830552,
        8351.42105263,  7818.99101412,  6324.80102696,  3902.70089859,
       14456.58023107,  8954.06418485,  7935.98331194, 17271.39409499,
        8842.49037227,  8029.54172015,  9206.3465982 , 10257.92041078,
       10338.33889602, 11508.6957638 ,  5638.79204108,  7279.42875481,
        5903.06675225,  8352.87933248,  3989.13478819, 10160.18485237,
        5574.88318357,  5496.10911425,  8718.64441592,  6988.15275995,
        5819.80487805,  7468.5237484 ,  4520.69961489,  6111.05905006,
        4715.63671374,  5527.92554557,  6443.87804878,  9129.06546855,
        6425.42747112,  6240.95892169, 11008.82926829,  7633.28112965,
        5255.53401797,  5310.02439024,  9585.02695764,  4559.27086008,
       10253.77535302,  6925.75609756,  3225.19127086,  5068.39666239,
        9524.92682927, 10979.67907574,  5747.84595635,  3277.69191271,
        5479.51604621,  7318.90885751,  5126.06290116,  7293.9987163 ,
        5142.84082157,  6328.35173299,  4367.89088575,  5222.38639281,
       12064.47240051,  8567.03080873,  4932.16559692,  5308.24261874,
        8484.06546855, 11257.22207959,  8767.94480103,  5440.05006418,
        5149.70731707,  8244.96662388,  5763.94736842,  7352.46598203,
        6190.56097561,  7581.80102696,  9176.33889602,  3714.77406932,
        4826.24261874,  4803.7381258 ,  6094.67137356, 10642.33761232,
        7764.72785623,  7712.36585366, 13480.14762516,  6672.23234917,
       11901.45699615, 13061.24775353,  5204.12580231,  3552.30166881,
        7500.94094994,  6448.88318357,  5820.98202824,  6806.34403081,
       11195.98587933,  4934.90885751,  5155.92811297,  8306.86521181,
        4920.49165597,  7717.20795892,  4266.74326059,  6998.05006418,
        3688.17073171,  7264.1732991 ,  6729.14120668,  8295.66880616,
        7633.40821566,  5141.48395379,  7728.6944801 ,  9066.58408216,
        5142.75096277, 10725.60205392,  6652.41206675,  6672.72015404,
        4764.01797176,  7581.34403081,  8455.77021823,  6741.63671374,
        6128.71758665,  8196.7394095 ,  5662.83055199, 18173.10783055,
        9058.15275995,  5879.08472401,  5307.10654685,  3870.20539153,
        5181.01412067, 15531.45186136,  8422.521181  , 10220.57252888,
       10595.44159178, 10752.90885751, 10704.44415918,  7822.69961489,
        4702.93581515,  4901.64955071, 10894.86521181,  9634.84852375,
        8115.77150193,  8323.61360719,  5565.85237484,  3860.25802311,
        6720.81258023,  2793.39409499, 14017.49293967, 10635.25673941,
       13676.17073171,  4991.38510911,  4642.63799743,  5973.42618742,
        6559.13350449,  7728.12323492,  7020.52759949,  4480.59178434,
        7167.00641849,  4377.45314506,  3240.23106547,  5849.98331194,
        6913.8267009 , 17777.70988447,  5492.2593068 ,  5528.11553273,
        6636.41720154,  4903.71630295,  5241.50449294,  4873.54942234,
        4518.20282413,  4535.40436457,  6862.22079589,  8875.37227214,
        6981.19383825,  4953.60590501,  8662.70089859,  8294.3478819 ,
       10197.8267009 ,  5333.71887035,  7030.11424904,  4287.80231065,
        4735.31707317,  5675.20410783, 15073.68549422,  6151.74711168,
        4971.37355584,  5686.06931964,  4448.51091142,  9501.62772786,
        4154.68549422, 15018.65596919,  4505.23876765,  5080.22464698,
        9766.92426187,  6994.87548139,  4875.24775353,  6302.42233633,
        6799.81001284,  7014.05905006,  5838.84210526,  3888.40949936,
        9271.67137356,  4637.72400513,  4197.63029525,  6707.03851091,
        6552.49550706,  9714.58793325,  8487.51219512,  6324.57766367,
        6825.32477535,  5916.22464698,  4318.9987163 ,  7026.82284981,
        7019.06675225,  6300.19512195,  9324.95378691,  5991.99743261,
        6230.34017972,  6920.35044929,  5399.19127086,  7027.25545571,
        6677.15532734,  5876.18870347,  4734.6970475 , 11533.97817715,
        5764.29525032,  3652.70988447,  7995.18613607, 10702.70860077,
        5772.66367137,  6571.563543  ,  3664.90629012,  7615.86521181,
        6614.8254172 ,  5915.50449294,  6439.81001284,  8031.71116816,
        3245.41206675,  6031.39794608,  6058.83055199,  5647.41848524,
        7046.38510911,  8436.86136072,  4917.76765083,  8148.18228498,
        6998.59563543,  8774.76251605,  8941.85109114,  8786.3928113 ,
        7107.72272144,  4282.11424904,  6785.32991014,  7299.93709884,
        9945.48395379,  5204.53145058,  3506.64441592, 11997.48523748,
        9149.37612323,  6630.55070603,  6215.53016688,  8372.46469833,
        3593.07060334,  7048.62516046,  5589.98716303,  8371.01155327,
        6588.41720154,  6612.44801027,  5393.12323492,  7848.50064185,
       10656.1732991 , 15560.7394095 ,  8161.58536585,  3290.53401797,
       10379.29396662,  7967.26700899,  8319.73170732,  9887.56739409,
       10718.05519897,  4542.25545571,  6422.81001284,  5552.89473684,
        7913.86007702,  7166.72400513,  7671.25160462,  9834.55455712,
        7030.9563543 ,  6812.90500642,  5744.74197689, 10988.20025674,
        4530.73299101,  5232.24005135, 10548.9139923 ,  8057.7406932 ,
        9213.6097561 ,  6171.19255456, 14844.88189987,  5980.5237484 ,
        5487.4775353 ,  6117.90115533,  8508.60077022,  6974.21437741,
        7614.87933248,  8025.88831836,  3795.7804878 ,  7458.78947368,
        6040.85494223,  7981.46084724,  5737.67650834,  5189.86007702,
        4216.2156611 ,  5251.65982028,  8710.27984596,  8058.27856226,
       10435.08344031, 16574.81643132,  6203.81899872,  4837.11938383,
        7010.13735558,  7567.32477535,  8725.53016688,  6125.16559692,
        3484.47240051,  8485.02695764,  6025.02182285, 12991.79332478,
       10875.24646983,  6477.78818999,  3576.06290116,  5718.6521181 ,
        5494.63286264,  4786.3029525 ,  3986.45057766,  7091.91912709,
        6511.32605905,  4895.32349166,  5488.79974326,  6832.96534018,
        7751.30937099,  6511.51861361,  3544.63928113, 10168.26829268,
       17959.53145058,  3371.33376123,  7452.61745828,  7668.77663671,
        7389.37355584,  4832.12195122,  3065.60590501,  4553.67394095,
        7244.77278562,  7428.33504493,  9894.98716303,  5337.43260591,
        4844.40436457,  6836.76636714,  5953.71245186,  9819.49550706,
        7250.80102696,  9393.61489089,  5930.42105263,  4131.63029525,
        6332.38382542,  5795.79589217,  8445.90243902,  5133.07702182,
       21752.98202824,  6113.67008986,  6092.92426187,  6937.22336329,
        7735.91655969,  5802.02053915,  6836.56225931,  8805.14634146,
       12747.95892169,  5169.05776637,  5919.72785623,  6140.77535302,
       12689.00256739,  6550.78562259,  5511.35044929,  5867.8267009 ,
        5108.20667522,  5875.69961489,  7963.13478819,  5127.8690629 ,
        7319.25160462,  2957.19640565,  9467.39794608,  4178.71245186,
        4809.96662388,  9224.63799743,  7084.37355584,  6494.41591784,
        8155.66752246,  6146.06033376,  4608.67650834,  9219.37355584,
        6537.93453145,  5747.87676508,  7141.38896021,  7446.59050064,
        5764.78818999,  3432.94865212,  8565.55969191,  8438.81001284,
        4257.4775353 ,  7566.58408216,  6872.7406932 ,  4641.31450578,
        9579.33119384,  5936.81001284,  6823.31835687,  6260.11039795,
        8536.40693196,  3812.67394095,  4581.56739409,  5061.66238768,
        9010.76508344,  6416.16302953,  8667.65853659,  7487.78562259,
        4203.01668806,  6522.53401797,  4768.6508344 ,  5437.6534018 ,
        6442.72400513,  6807.88703466,  7995.12195122,  4119.12066752,
        7945.68934531,  7556.83697047,  8381.51219512,  9305.40693196,
        6937.58921694,  3488.46084724,  6595.84852375,  5241.38767651,
        7233.12195122,  8530.25160462, 10931.03080873,  6270.74967908,
        4237.9114249 ,  5674.61745828,  9882.5198973 ,  5766.2182285 ,
        8857.91655969,  9508.12708601,  5361.49935815,  6702.94480103,
        5157.957638  ,  9424.30166881,  7367.81899872,  5314.55327343,
        4752.88318357,  6607.7843389 ,  7260.58793325,  6494.72143774,
        8014.68292683,  5814.36456996,  7150.15789474,  3785.58664955,
        7294.25545571,  6763.62002567,  5650.49293967,  7056.28498074,
        7234.73427471,  9406.56996149,  5977.84980745,  7210.6521181 ,
        6058.79204108,  6969.18356868,  7930.94223363,  4374.94351733,
        4203.42747112,  8306.21181001,  6295.45314506,  5350.07188703,
        5712.83183569,  7776.97946085,  5307.83568678,  6966.04878049,
        4719.54942234,  3841.06290116,  7899.84082157,  4243.93453145,
        7049.06290116,  6723.52503209,  6521.93581515,  6578.96148909,
       10691.02182285,  9672.27086008,  8487.80359435,  4818.07830552,
        8641.1720154 ,  7152.50192555,  3298.71373556,  8145.45956354,
        6440.98587933,  7715.73684211,  6974.96534018,  7172.22207959,
        6243.05006418,  7019.61617458,  7265.57252888,  8011.47496791,
       10193.93709884,  6043.85365854,  8365.72528883,  6164.35815148,
        6847.37355584,  4696.20025674,  6370.05776637,  5756.76508344,
        5715.99101412,  7576.02310655,  4539.51604621,  9210.98074454,
        6365.19897304,  5159.0436457 ,  4305.85750963,  9129.20795892,
        5402.61745828,  6059.88831836,  7382.80359435,  6205.98074454,
        6334.53786906,  6995.47368421,  5330.08985879,  8872.03209243,
        7878.23748395,  3993.56097561, 12206.80616175,  6040.02952503,
        5409.41463415,  7063.36585366, 11721.01668806,  9032.10269576,
        8715.38639281,  7325.00513479,  6114.87933248,  6133.38125802,
        7396.90500642,  9495.61617458,  4732.63543004,  5387.06290116,
        3590.09884467,  4843.85622593,  9143.98202824, 13862.68934531,
        6470.41206675,  4849.64184852,  4986.20282413,  6909.47111682,
        8097.40564827,  8697.50962773,  4131.25032092,  8741.94223363,
        6605.01797176,  8033.62259307,  8646.05519897,  4866.65468549,
        6877.19127086,  7391.67522465,  7365.75224647,  7269.39537869,
        8931.1732991 ,  6036.76636714,  7903.78818999,  6422.06546855,
        7263.33889602,  8424.54043646,  7327.31322208,  7359.39666239,
        6405.98074454,  4270.57252888,  9455.57894737, 11073.91912709,
        4430.13350449,  6291.48395379,  7034.84852375,  6026.46854942,
        6821.9114249 ,  7276.79204108,  5111.97689345, 11482.49422336,
        3620.02567394,  4489.76765083,  6790.60077022,  8689.09884467,
        7001.32349166,  5145.72015404,  6276.70988447,  7568.84980745,
        7679.50449294,  6281.6071887 ,  5084.70346598, 10160.76123235,
        6417.46854942,  8277.92297818,  8288.1283697 ,  4765.98074454,
        5456.5237484 ,  9269.62644416,  5231.89730424,  8189.54813864,
        5349.64569961,  9974.25673941,  5018.56739409,  4564.57252888,
        4895.88318357,  5716.13863928,  4525.29910141,  5251.70218228,
       10236.57766367,  6625.71758665, 20655.61745828,  6304.25802311])

In [3]:
#plt.imshow(Z, cmap = 'Greys', interpolation='nearest')
#plt.axis('off')
#plt.savefig('rossmann_pattern.png', dpi = 300)
#plt.show()

In [38]:
np.sum(Z, axis = 0)

array([162, 162, 162, 162, 162, 162, 162, 162, 162, 162, 162, 162, 162,
       162, 162, 162, 162, 162, 162, 162, 162, 162, 164, 164, 164, 164,
        77,  77,  77,  77,  77,  77,  77,  77,  77,  77,  77,  77,  77,
        77,  77,  77,  77,  77,  77,  77,  77,  77,  77,  77,  56,  56,
        58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,
        58,  58,  58,  58,  58,  58,  58,  58,  58,  58, 170, 170, 170,
       170, 170, 170, 170, 170, 170, 170, 170, 170, 170, 170, 170, 170,
       170, 170, 170, 170, 170, 170, 170, 170, 170,  80,  80,  80,  80,
        80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,
        80,  80,  80,  80,  80,  80,  60,  60,  60,  60,  60,  60,  60,
        60,  60,  60,  60,  60,  60,  60,  60,  60,  60,  60,  60,  60,
        60,  60,  60,  60,  60, 172, 172, 172, 172, 172, 172, 172, 172,
       172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172,
       172, 172, 172, 185, 185, 185,  98,  98,  98,  98,  98,  98,  98,
        98,  98,  98,  98,  98,  98,  98,  98,  98,  98,  98,  98,  98,
        98,  98,  98,  98,  98,  98,  98,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0, 189, 189, 189, 189, 189, 189, 189,
       189, 189, 189, 189, 189, 189, 189, 189, 189, 189, 189, 189, 189,
       189, 189, 189, 189, 189, 189,  98,  99,  99,  99,  99,  99,  99,
        99,  99,  99,  99,  99,  99,  99,  99,  99,  99,  99,  99,  99,
        99,  99,  99,  99,  99,  68,  68,  68,  68,  68,  68,  68,  68,
        68,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,
        68,  56,  56, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191,
       191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191,
       191, 191, 191,  99,  99,  99,  99,  99,  99,  99,  99,  99,  99,
        99,  99,  99,  99,  99,  99,  99,  99,  99,  99,  99,  99,  99,
        99,  69,  85,  85,  85,  85,  85,  85,  85,  85,  85,  85,  85,
        85,  85,  85,  85,  85,  85,  85,  85,  85,  85,  85,  85,  85,
        85, 205, 205, 205, 205, 205, 205, 205, 205, 205, 205, 205, 205,
       205, 205, 205, 205, 205, 205, 205, 205, 205, 206, 206, 206, 102,
       102, 102, 102, 102, 102, 102, 102, 102, 102, 102, 102, 102, 102,
       102, 102, 102, 102, 102, 102, 102, 102, 102, 102, 102,  87,  87,
        87,  87,  87,  87,  87,  87,  87,  87,  87,  87,  87,  87,  87,
        87,  87,  87,  87,  87,  87,  87,  87, 206, 206, 206, 206, 206,
       206, 206, 206, 206, 206, 206, 206, 206, 206, 206, 206, 206, 206,
       206, 206, 206, 206, 206, 206, 206, 206, 206, 102, 102, 102, 102,
       102, 102, 102, 102, 102, 102, 102, 102, 102, 102, 102, 102, 102,
       102, 102, 102, 102, 102, 102, 102, 102, 102,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0, 206, 206, 206, 206,
       206, 206, 206, 206, 206, 206, 206, 206, 206, 206, 206, 206, 206,
       206, 206, 206, 206, 206, 206, 206, 206, 206, 105, 105, 105, 105,
       105, 105, 105, 105, 105, 105, 105, 105, 105, 105, 105, 105, 105,
       105, 105, 105, 105, 105, 105, 105,  87,  87,  87,  87,  87,  87,
        87,  87,  87,  87,  87,  87,  87,  87,  87,  87,  87,  87,  87,
        87,  87,  87,  69,  69,  69, 206, 206, 206, 206, 206, 206, 206,
       206, 206, 206, 206, 206, 206, 206, 206, 206, 206, 206, 206, 206,
       206, 206, 206, 206, 206, 206, 105, 105, 105, 105, 105, 105, 105,
       105, 105, 105, 105, 105, 105, 105, 105, 105, 105, 105, 105, 105,
       105, 105, 105, 105,  88,  88,  88,  88,  88,  88,  88,  88,  88,
        88,  88,  88,  88,  88,  88,  88,  88,  88,  88,  88,  88,  88,
        88,  88,  88,  88, 210, 210, 210, 210, 210, 210, 210, 210, 210,
       210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210,
       210, 210, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107,
       107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107,  89,
        89,  89,  89,  89,  89,  89,  89,  89,  89,  89,  89,  89,  89,
        89,  89,  89,  89,  89,  89,  89,  89,  89,  89,  89, 210, 210,
       210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210,
       210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210])

In [39]:
np.sum(sale_matrix==0) / sale_matrix.size

0.002478863264131734

In [42]:
np.sum(Z==1) / Z.size

0.29787462769623807

In [25]:
O = np.maximum(np.log(sale_matrix+1e-7), 0)

In [26]:
np.sum(O != 0) / O.size

0.9979090873418502

In [393]:
np.random.seed(3)
Omega = (1 - (np.random.rand(O.shape[0], O.shape[1]) < 0.2) * Z)*(O!=0)

In [92]:
%run ./../src/algorithms/DebiasConvexMissing.py
%run ./../src/algorithms/OLS.py

In [65]:
de_mean_O = True

old_O = O
if (de_mean_O):
    O = ((O - np.mean(O, axis=0)/2).T - np.mean(O, axis=1)/2).T
    #O = (O.T - np.mean(O, axis = 1)).T
    bias_O = old_O - O
else:
    bias_O = 0

In [380]:
print(O)

[[6.50428817 6.35957387 6.42810527 ... 6.25958146 6.30261898 6.31896811]
 [6.47697236 6.31896811 6.3526294  ... 6.58892648 6.39859493 6.43775165]
 [6.69084228 6.58063914 6.5366916  ... 6.57368017 6.7129562  6.71052311]
 ...
 [6.62406523 6.57646957 6.4707995  ... 6.37842618 6.57368017 6.57925121]
 [8.13182479 8.07433769 8.01829614 ... 8.17329344 8.08671792 8.2281769 ]
 [5.72031178 5.70378247 5.78689738 ... 6.15909539 6.21860012 6.28785856]]

In [273]:
print(np.sum(Omega)/Omega.size)

0.9131766737111177

In [178]:
O = sale_matrix

print(np.sum(O * (1-Z) * (O != 0)) / np.sum((1-Z) * (O != 0)))

print(np.sum(O * Z * (O != 0)) / np.sum(Z * (O != 0)))

6583.831003807696
6498.052274125415

In [152]:
def R2(A, B):
    A = A[A != 0]
    B = B[B != 0]
    return 1 - np.sum((A-B)**2) / np.sum((B-np.mean(B))**2)

In [170]:
M = O
tau = 50
mean_O_square = np.mean(O)**2
correct_ratio = np.sum(O*Z*(O!=0)) / np.sum(Z*(O!=0)) / np.sum(O*(1-Z)*(O!=0)) * np.sum((1-Z)*(O!=0))

In [154]:
mean_O = np.sum(O) / np.sum((O!=0))

In [155]:
correct_ratio

0.9869713044528828

In [184]:
np.random.seed(1)

results = {}
results['valid_error'] = []
#results['bias'] = []
results['tau'] = []
results['sum_of_square_Z'] = []
results['sum_of_square_1-Z'] = []
#results['mean_absolute'] = []
#results['R2'] = []

    
for t in range(10):
    Omega = (1 - (np.random.rand(O.shape[0], O.shape[1]) < 0.2)*Z) * (O!=0)
   
    #l = 4.2 
    l = 30000
    n = O.shape[0]
    m = O.shape[1]
    while (True):
        M, tau, info = convex_algorithm_with_Omega(O, Omega, Z*Omega, l, suggest = [M, tau], eps = 1e-1, debug = True)
        tau_debias, M_debias = debias(M, tau, Z*Omega, l)
        print('l=', l)
        print(tau_debias, tau)
        r = np.linalg.matrix_rank(M)
        #print(np.log(np.sum(((1-Z)*(M_debias-O))**2) / np.sum(1-Z)))
        #print( r * ((n+m) / (n*m)) * np.log((n*m) / (n+m)))
        #print(np.log(np.sum(((1-Z)*(M_debias-O))**2) / np.sum(1-Z)) + r * ((n+m) / (n*m)) * np.log((n*m) / (n+m)))
        #print(np.linalg.norm((O!=0)*(Omega)*(M_debias+tau_debias*Z-O)) / np.linalg.norm((O!=0)*(Omega)*O))

        print(np.linalg.norm((O!=0)*(1-Omega)*(M_debias+tau_debias*Z-O)) / np.linalg.norm((O!=0)*(1-Omega)*O))
        print(np.sum((O!=0)*(1-Omega)*(1-Z)*(M_debias-O)) / np.sum((O!=0)*(1-Omega)*(1-Z)))
        print(np.sum((O!=0)*(1-Omega)*(Z)*(M_debias+Z*tau_debias-O)) / np.sum((O!=0)*(1-Omega)*(Z)))

        #print(np.sum(((O!=0)*(1-Omega)*(M_debias+tau_debias*Z-O))**2) / np.sum((O!=0)*(1-Omega)))

        #print(np.sum(np.abs((O!=0)*(1-Omega)*(M_debias+tau_debias*Z-O))) / np.sum((O!=0)*(1-Omega)))

        #print(R2((O!=0)*(1-Omega)*(M_debias+tau_debias*Z), (O!=0)*(1-Omega)*O))

        #print(np.sum((1-Omega)*(M_debias)) / np.sum(1-Omega))

        print('rank=', r)
        if (r > 70):
            break
        print()
        l = l / 1.05

    results['valid_error'].append(np.linalg.norm((O!=0)*(1-Omega)*(M_debias+tau_debias*Z-O)) / np.linalg.norm((O!=0)*(1-Omega)*O))
    #results['bias'].append(np.sum((O!=0)*(1-Omega)*(Z)*(M_debias+Z*tau_debias-O)) / np.sum((O!=0)*(1-Omega)*(Z)))
    results['tau'].append(tau_debias)
    results['sum_of_square_Z'].append(np.sum(((O!=0)*(1-Omega)*Z*(M_debias+tau_debias*Z-O))**2) / np.sum((O!=0)*Z*(1-Omega)*((O-mean_O)**2)))
    results['sum_of_square_1-Z'].append(np.sum(((O!=0)*(1-Omega)*(1-Z)*(M_debias+tau_debias*Z-O))**2) / np.sum((O!=0)*(1-Z)*(1-Omega)) )
    #results['mean_absolute'].append(np.sum(np.abs((O!=0)*(1-Omega)*(M_debias+tau_debias*Z-O))) / np.sum((O!=0)*(1-Omega)))
    # #results['R2'].append(R2((O!=0)*(1-Omega)*(M_debias+tau_debias*Z), (O!=0)*(1-Omega)*O))

147.60327024962777
148.05742316228134
148.38836094967925
148.63885862684165
148.83500943168173
148.99235987033748
149.12099485388612
149.22789898961514
l= 30000
112.16734710374052 149.22789898961514
0.07831980794418862
nan
-3.6529175068033246
rank= 48

148.92547550050347
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: RuntimeWarning: invalid value encountered in double_scalars
148.71066878545787
148.5534810010919
148.43594801887238
l= 28571.42857142857
114.15349932931527 148.43594801887238
0.07804870423428911
nan
-3.1664269555425664
rank= 51

147.97407274648373
147.65355214364027
147.41013350598618
147.22121270747033
147.0739887583408
146.95957337606484
l= 27210.884353741494
115.74898854564051 146.95957337606484
0.0778154688209398
nan
-3.3364645780484947
rank= 55

146.53086918883926
146.23198155209258
146.0033345856733
145.8242465732213
145.68315686349902
145.5721055249894
l= 25915.127955944277
116.72138586969842 145.5721055249894
0.0775633084607067
nan
-3.0216113145130095
rank= 59

145.18726919997744
144.91237495434171
144.69850740157585
144.52873203917557
144.39336830386912
144.2855597459725
l= 24681.074243756455
118.53394277421513 144.2855597459725
0.07771277003258048
nan
-2.196339231754061
rank= 64

143.932750285444
143.68117112686446
143.48398508696937
143.32595095603676
143.19862945834225
143.09608497782844
l= 23505.784994053767
118.97649542429716 143.09608497782844
0.07752706074082164
nan
-3.0535838580279333
rank= 69

142.77226010225598
142.54258435247178
142.3611325829163
142.2142051439587
142.0945115857153
l= 22386.461899098824
119.66041525022948 142.0945115857153
0.07748888764285787
nan
-2.848750404519896
rank= 75
144.5857565963529
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: RuntimeWarning: invalid value encountered in double_scalars
146.10086733135358
147.23789328676304
148.124379845162
148.82507482854166
149.38311068990453
149.82997790134075
150.18953493916138
150.48017924165137
150.71623557427984
150.90892563516445
151.06707763854376
151.19765931996486
151.30618455251442
l= 30000
109.92365359032922 151.30618455251442
0.08130148797451794
nan
-3.3277679954650616
rank= 47

150.94777032187946
150.72550863748225
150.5645017891456
150.4431099918593
l= 28571.42857142857
111.48113353119663 150.4431099918593
0.08109146937350109
nan
-3.603180493284949
rank= 50

149.89871051564964
149.55417880875487
149.29475933249395
149.09233110673782
148.93303204852538
148.8075316161856
l= 27210.884353741494
111.1437305051776 148.8075316161856
0.0807089271811408
nan
-4.648517602433938
rank= 54

148.28352231444512
147.95088708353666
147.6979077738958
147.4979828950239
147.33847620600613
147.21095560861863
147.10910155822333
l= 25915.127955944277
109.53372456815782 147.10910155822333
0.0804465199893865
nan
-5.511478610393337
rank= 59

146.64163240778967
146.34314288214784
146.11395131793117
145.9308565386849
145.78318866815027
145.66384581588264
l= 24681.074243756455
112.21011621037091 145.66384581588264
0.08047102262432432
nan
-5.520867758117341
rank= 64

145.22252043712226
144.94279076598056
144.72674084837266
144.55267929886432
144.4109982602396
144.29538884079966
l= 23505.784994053767
112.85293920206425 144.29538884079966
0.08045393271248924
nan
-5.576461966171195
rank= 68

143.88168118323853
143.61837991970572
143.4134608913273
143.24680626999825
143.1098022550987
142.99685212726976
l= 22386.461899098824
113.12812423240581 142.99685212726976
0.08045590557190865
nan
-6.168455285792437
rank= 74
144.3404169642271
145.58053532749952
146.53621378357138
147.27657620817172
147.85466453530316
148.30887386688516
148.66750531070184
148.9518306332692
149.17808347495117
149.35878575258602
149.50366639802547
149.62032147962702
l= 30000
112.05366789844575 149.62032147962702
0.07623720154908378
nan
-12.073688925913519
rank= 49

149.3189803935811
149.1110102078902
148.95604654927013
148.836266660084
l= 28571.42857142857
114.27645669072031 148.836266660084
0.07611204949507376
nan
-11.298037801737854
rank= 51

148.3381584685387
147.9978036180339
147.73613834124066
147.5290152935088
147.363585877821
147.23106428480062
147.1248627790151
l= 27210.884353741494
114.22717971954083 147.1248627790151
0.07584583629521066
nan
-12.033055258339711
rank= 55

146.66767830734824
146.3529190736617
146.10920229798853
145.91481952146944
145.75831655840244
145.63187844322047
145.52963836578712
l= 25915.127955944277
113.72933543071898 145.52963836578712
0.07562695357435434
nan
-11.680728277905414
rank= 59

145.11220497099634
144.8229184320426
144.59677249474643
144.4148382145973
144.26720006926976
144.14701354569598
l= 24681.074243756455
115.53282453049133 144.14701354569598
0.07555091567544069
nan
-11.632166679538082
rank= 64

143.7605476768628
143.4925911964355
143.28195576778018
143.11126843293908
142.9716713794698
142.85710648953463
l= 23505.784994053767
117.40790849886216 142.85710648953463
0.07554197716220494
nan
-11.165164943424125
rank= 69

142.49297328151542
142.23923581917515
142.03826553664396
141.8739837792997
141.73838661500173
141.62604595820676
l= 22386.461899098824
116.89132980428832 141.62604595820676
0.07547209872519724
nan
-11.963951620765483
rank= 75
145.1045257198637
147.14807003610662
148.69839053252156
149.90805348072004
150.85934122795194
151.61118896705682
152.20784308005406
152.68300236556433
153.06258219472042
153.36667150775128
153.61094411037325
153.80769283806498
153.9665991557562
154.09531369925622
154.19989912726845
l= 30000
115.15174008904884 154.19989912726845
0.07572588969941568
nan
2.6025803687983866
rank= 48

153.87115804557436
153.65076517788341
153.48567474410763
153.35715513195834
153.25605761692265
l= 28571.42857142857
117.33453620780946 153.25605761692265
0.07541249201928778
nan
3.521384376932283
rank= 51

152.7670291803338
152.43867371069908
152.18514703201467
151.98320354513643
151.82103076393997
151.69043078987815
151.58515123548727
l= 27210.884353741494
117.08716292677539 151.58515123548727
0.0752996263857459
nan
3.1529889848035566
rank= 55

151.1222586846362
150.8074935870128
150.56176557138798
150.36399433491948
150.20353955522222
150.07297820643166
149.9666043370274
l= 25915.127955944277
117.48526138969792 149.9666043370274
0.0749685144064988
nan
2.8869383128683594
rank= 60

149.54041494167242
149.24962148178068
149.02073225285892
148.8349927760078
148.68313628386665
148.5586575759384
148.45649875224103
l= 24681.074243756455
119.72316904060831 148.45649875224103
0.07496898729582234
nan
3.2338460253658514
rank= 64

148.0798433403646
147.82699362400416
147.62822999352517
147.46615601475867
147.33278824426864
147.2227072028052
l= 23505.784994053767
121.4488685194828 147.2227072028052
0.07494279028695433
nan
3.070552854001242
rank= 70

146.86712489368173
146.6287620947865
146.44000271233764
146.28478387537797
146.15593985313987
146.04866003897223
l= 22386.461899098824
121.56047901596638 146.04866003897223
0.07499349482207039
nan
2.8193578688191763
rank= 75
147.1968738369332
148.2623467418514
149.12071605903682
149.80354306010858
150.34642581727732
150.77914237063578
151.12515539689687
151.40270581382288
151.62598944725968
151.8061079992897
151.9517886510645
152.06992322106655
l= 30000
114.94826951483148 152.06992322106655
0.08316974621985394
nan
-4.841057628193471
rank= 48

151.7634786490585
151.54308537804903
151.3756692161966
151.24483732301644
151.14159542174698
l= 28571.42857142857
116.32918596427513 151.14159542174698
0.08286858824935674
nan
-4.753622429577755
rank= 50

150.6499869747658
150.30363941480206
150.03416952692547
149.81925313704187
149.64648208973048
149.50707118702093
149.39434483654782
l= 27210.884353741494
116.2300927652517 149.39434483654782
0.08243830339476929
nan
-5.051997317053907
rank= 54

148.9250643403304
148.59227282071217
148.3312454148317
148.1211834176919
147.95061244460425
147.8115217430564
147.69782884892106
l= 25915.127955944277
116.81311471528002 147.69782884892106
0.08233873903397343
nan
-4.9217858417712055
rank= 58

147.26824059184818
146.9626037739124
146.72084106637922
146.52471385272707
146.36428948637558
146.2325580905905
146.124136774966
l= 24681.074243756455
117.21574919110473 146.124136774966
0.08215911336085421
nan
-5.04641300002048
rank= 63

145.73866770701397
145.46686973176097
145.25064390407329
145.0737656745843
144.92787624246674
144.8071144505007
144.70694372776674
l= 23505.784994053767
118.71024937124115 144.70694372776674
0.08217235669967532
nan
-5.107463688314681
rank= 67

144.3531488712438
144.103934379915
143.90514902129496
143.74163753829743
143.60585869424358
143.49263917495855
l= 22386.461899098824
118.464373544777 143.49263917495855
0.08196512235237426
nan
-5.61823953636481
rank= 73
146.18476536265132
147.85224249703018
149.09858663854442
150.0612665163436
150.81319162904705
151.40411425128957
151.8704500319032
152.23962129437533
152.53260779793337
152.7656263389118
152.95130229907556
153.09951640272
153.21803176660495
l= 30000
117.2950615037236 153.21803176660495
0.07631144033207118
nan
1.1963670758855784
rank= 48

152.92772155860072
152.72549799186118
152.57192480511674
152.45136133955336
l= 28571.42857142857
118.28727207149763 152.45136133955336
0.07620589555945799
nan
0.32399641970107695
rank= 51

151.95751813580762
151.62040517121935
151.3584726240079
151.14916064424617
150.9804060073257
150.84381453032302
150.7330145264177
l= 27210.884353741494
117.75071215495336 150.7330145264177
0.0760089440259054
nan
-0.7247159421628556
rank= 55

150.27647006202187
149.96314308687099
149.71849007038986
149.52177668055845
149.3620637804627
149.23180687809074
149.12530030901502
l= 25915.127955944277
118.1567956510385 149.12530030901502
0.07596074349174566
nan
-0.6376559504398611
rank= 59

148.7122856767834
148.42914770073583
148.20602137583052
148.02503383511012
147.87695009106923
147.75531325126477
147.65516866963318
l= 24681.074243756455
119.62756437252676 147.65516866963318
0.07586849879978033
nan
-1.141275822979364
rank= 65

147.28021949091237
147.02620976081417
146.82521760273227
146.66096515100438
146.52552732470127
146.41343284216455
l= 23505.784994053767
120.33594312709593 146.41343284216455
0.07594552697406622
nan
-0.9767468719343498
rank= 69

146.05112580207896
145.8034819588656
145.60546002343574
145.44202695178714
145.30599143236444
145.19238632752536
l= 22386.461899098824
121.06234493558948 145.19238632752536
0.07589748797755315
nan
-1.491877869265644
rank= 75
146.1726549610949
147.15294708223652
147.9069669068822
148.492587612586
148.95129269942103
149.31270959107695
149.59879403999437
149.82613757398514
150.00743066185112
150.1524634425062
150.26883808613778
l= 30000
112.14630036527146 150.26883808613778
0.07918206556327595
nan
-14.717702772623735
rank= 47

149.9639324505991
149.7569352369064
149.6007972667182
149.47859428682594
l= 28571.42857142857
114.77866186108565 149.47859428682594
0.07899777967322973
nan
-14.878245014566929
rank= 51

148.99141092769008
148.65924465201368
148.40151350060867
148.1958241830364
148.03025669401936
147.8964872797945
147.78817199533094
l= 27210.884353741494
115.34163021205269 147.78817199533094
0.07863659499710873
nan
-14.192138442959255
rank= 54

147.33696234695103
147.02747248795535
146.78614605739097
146.59209321270208
146.43449740318232
146.30593023103648
146.20076813823982
l= 25915.127955944277
114.52208783574807 146.20076813823982
0.0784287769650702
nan
-14.440019230892835
rank= 59

145.7836475226575
145.49117897843072
145.26042204897837
145.07307558251802
144.91957285208798
144.79327984961
144.68911888712938
l= 24681.074243756455
116.49998656923799 144.68911888712938
0.07836182871549471
nan
-13.841897810647097
rank= 63

144.31559680110558
144.0541644081285
143.84703445555465
143.67777486582946
143.538108150042
143.42236569482685
l= 23505.784994053767
117.96360432193742 143.42236569482685
0.07832972693416099
nan
-13.403792673911962
rank= 69

143.0657491193372
142.81244401718646
142.61004619255638
142.443363167238
142.30475074725555
142.1889778890392
l= 22386.461899098824
118.01361436413013 142.1889778890392
0.07835881053189592
nan
-13.789518850041109
rank= 75
144.93805933455178
146.53139211844208
147.72522811784881
148.65135243708227
149.37739830174826
149.9497229150174
150.4025585791515
150.76186516765165
151.04760556118038
151.27527144450278
151.4569631489717
151.6021778275178
151.71839704645072
l= 30000
113.69255938454984 151.71839704645072
0.07798640735340087
nan
-1.6142876258307652
rank= 48

151.4077146922388
151.1872966879896
151.01808859065164
150.8843263749469
150.77763812836452
l= 28571.42857142857
115.41212092339617 150.77763812836452
0.07739888278262337
nan
-1.527205666334424
rank= 52

150.29136671475823
149.95430390427458
149.69059244327764
149.4788028054183
149.3074511692852
149.16836586386583
149.05523712039013
l= 27210.884353741494
114.82748668862104 149.05523712039013
0.07740761888262339
nan
-2.1163401084582762
rank= 55

148.59968173807312
148.28138876762782
148.03064807692365
147.8276068404988
147.66185819359166
147.52607656251644
147.41460523359237
l= 25915.127955944277
116.18246741227156 147.41460523359237
0.0772458567176521
nan
-1.3234958010951707
rank= 59

147.00121352724645
146.70573418271633
146.470027789956
146.27749890086906
146.11919451293207
145.98864873978607
145.8807879683793
l= 24681.074243756455
117.71038493710037 145.8807879683793
0.07709891327942223
nan
0.038139168608167594
rank= 64

145.49634699991987
145.21992050469052
144.99799012775566
144.81535665728805
144.6640452335253
144.53833765201304
144.43372318733213
l= 23505.784994053767
118.75310123970618 144.43372318733213
0.0769631763894038
nan
-0.2958761736283044
rank= 69

144.0756258367646
143.82077319987448
143.61504290939882
143.44437781358548
143.30177710130422
143.18230007422198
143.0820423292956
l= 22386.461899098824
118.74033501568131 143.0820423292956
0.07686880101779012
nan
-1.0919583824516774
rank= 75
145.38170926754947
146.94033755353067
148.11313944215857
149.02645673151687
149.74578557769266
150.31518882587298
150.76729347299562
151.127077667279
151.41393016909214
151.643009860545
151.82622274171155
151.97295119670082
152.09060874762582
l= 30000
111.80709697318167 152.09060874762582
0.07687223348917716
nan
-6.408116550782332
rank= 48

151.75238188063196
151.52598996172642
151.35530784840535
151.2215427210996
151.11533611369669
l= 28571.42857142857
114.46394952835672 151.11533611369669
0.07654838018038354
nan
-6.36591610462976
rank= 51

150.6081274608783
150.2676710363052
150.00361132693757
149.7924131049188
149.6218793726424
149.48360398827035
149.37120726096873
l= 27210.884353741494
114.1559307774358 149.37120726096873
0.0762554463893838
nan
-6.1775316687767345
rank= 54

148.8926675316215
148.56842781145508
148.3151453983838
148.11092222672514
147.9446367967529
147.80865915624696
147.69718220782596
l= 25915.127955944277
113.90003644278437 147.69718220782596
0.07589477505110227
nan
-6.380223024455156
rank= 59

147.26895414275947
146.97619063171504
146.74551929143544
146.55811115450234
146.40444475277036
146.2779376479576
146.17353619330947
l= 24681.074243756455
117.24396586889054 146.17353619330947
0.07602788492236398
nan
-5.3884885966602525
rank= 64

145.7818826274557
145.5158624252595
145.30533086869434
145.13310928402373
144.99088243294204
144.87296677052382
l= 23505.784994053767
117.76880729883104 144.87296677052382
0.07613303679326831
nan
-5.515003177398415
rank= 70

144.49050186010737
144.22992720659568
144.02244303273426
143.851324833619
143.7087281975279
143.58940743629077
143.4893406628344
l= 22386.461899098824
116.9709895278637 143.4893406628344
0.07607727480882535
nan
-5.780685348612513
rank= 75
145.87593123261954
147.32047472961276
148.38312713184564
149.19922006300723
149.83602312391133
150.3368399601085
150.7325561156421
151.04622910238265
151.29546835992306
151.4938947239814
151.65212764568386
151.77849136732016
151.87953684223262
l= 30000
112.21828152373175 151.87953684223262
0.07816192167113524
nan
-2.105115510459167
rank= 47

151.54795117315592
151.31856843460352
151.1441217317836
151.0068093975724
150.89745738127493
l= 28571.42857142857
115.31761258025293 150.89745738127493
0.07769083125752416
nan
-1.5813403946702485
rank= 51

150.40378383262365
150.06570982576463
149.80289778296108
149.59266044570884
149.42292613405021
149.28532017855485
149.17348558110868
l= 27210.884353741494
114.79052639606957 149.17348558110868
0.07753159188156002
nan
-1.624142500770424
rank= 55

148.6987896832583
148.37285213920921
148.11805564310845
147.91279963666415
147.7458084675716
147.60933365695973
147.49750320379442
l= 25915.127955944277
114.83404196893328 147.49750320379442
0.07724025394771476
nan
-2.277897227128897
rank= 58

147.0683535388766
146.77342289938406
146.54108892345195
146.35248405741268
146.19789877937396
146.07064406921396
145.96561757929072
l= 24681.074243756455
117.66103677325975 145.96561757929072
0.0771556580007107
nan
-1.9002805179650875
rank= 64

145.5827523208761
145.32228151661712
145.1165277631214
144.94846714614127
144.8097413053544
144.69469885297022
l= 23505.784994053767
118.37263163163259 144.69469885297022
0.07723967135309376
nan
-1.9638347501539117
rank= 69

144.323484179757
144.06879440940276
143.86561648378253
143.69801072469903
143.5583306327261
143.4414252862051
l= 22386.461899098824
117.74745833468602 143.4414252862051
0.0771361840742321
nan
-2.3979454030785043
rank= 75

In [185]:
pd.DataFrame(results).describe()

       valid_error         tau  sum_of_square_Z  sum_of_square_1-Z
count    10.000000   10.000000        10.000000                0.0
mean      0.077471  118.223946         0.043404                NaN
std       0.002234    2.384238         0.002362                NaN
min       0.074993  113.128124         0.040625                NaN
25%       0.075942  117.165107         0.041689                NaN
50%       0.077002  118.238994         0.043000                NaN
75%       0.078141  119.430395         0.044202                NaN
max       0.081965  121.560479         0.048125                NaN

In [339]:
print(np.linalg.matrix_rank(M))

18

In [162]:

M = np.zeros_like(O)
a = np.zeros((M.shape[0], 1))
b = np.zeros((M.shape[1], 1))

In [186]:
#l = 5
np.random.seed(1)
tau = 50

results = {}
results['valid_error'] = []
#results['bias'] = []
results['tau'] = []
results['sum_of_square_Z'] = []
results['sum_of_square_1-Z'] = []
#results['mean_absolute'] = []
#results['R2'] = []


for t in range(10):
    Omega = (1 - (np.random.rand(O.shape[0], O.shape[1]) < 0.3)*Z) * (O!=0)
    l = 28000
    while (True):
        M, a, b, tau = missing_algorithm(O, Omega*(1-Z), l = l, fixed_effects=True, suggest = [M, a, b])
        print('rank = ', np.linalg.matrix_rank(M))
        one_row = np.ones((1, M.shape[1]))
        one_col = np.ones((M.shape[0], 1))
        M1 = M + a.dot(one_row) + one_col.dot(b.T)
        tau=np.sum(Omega*Z*(O-M1))/np.sum(Omega*Z)
        print('tau=', tau)
        print(np.linalg.norm((O!=0)*(1-Omega)*(M1+tau*Z-O)) / np.linalg.norm((O!=0)*(1-Omega)*O))
        print(np.sum(np.abs((O!=0)*(1-Omega)*(M1+tau*Z-O)/(O+1e-5))) / np.sum((O!=0)*(1-Omega)))

        #print(np.linalg.norm((Z)*(M1+tau*Z-O)) / np.linalg.norm((Z)*O))
        print(np.sum((O!=0)*(1-Omega)*(Z)*(M1+Z*tau-O)) / np.sum((O!=0)*(1-Omega)*(Z)))
        print(np.sum((O!=0)*(1-Omega)*(1-Z)*(M1-O)) / np.sum((O!=0)*(1-Omega)*(1-Z)))

        print(np.sum(((O!=0)*(1-Omega)*(M1+tau*Z-O))**2) / np.sum((O!=0)*(1-Omega)))
        #print(R2((O!=0)*(1-Omega)*(M1+tau*Z), (O!=0)*(1-Omega)*O))

        print()
        l = l / 1.1

        r = np.linalg.matrix_rank(M)
        if (r > 70):
            break

    results['valid_error'].append(np.linalg.norm((O!=0)*(1-Omega)*(M1+tau*Z-O)) / np.linalg.norm((O!=0)*(1-Omega)*O))
    #results['bias'].append(np.sum((O!=0)*(1-Omega)*(Z)*(M1+Z*tau-O)) / np.sum((O!=0)*(1-Omega)*(Z)))
    #results['bias'].append(np.sum((O!=0)*(1-Omega)*(1-Z)*(M1-O)) / np.sum((O!=0)*(1-Omega)*(1-Z)))
    results['tau'].append(tau)
    results['sum_of_square_Z'].append(np.sum(((O!=0)*(1-Omega)*Z*(M1+tau*Z-O))**2) /  np.sum((O!=0)*Z*(1-Omega)*((O-mean_O)**2)))
    results['sum_of_square_1-Z'].append(np.sum(((O!=0)*(1-Omega)*(1-Z)*(M1+tau*Z-O))**2) / np.sum((O!=0)*(1-Z)*(1-Omega)))
    #results['R2'].append(R2((O!=0)*(1-Omega)*(M1+tau*Z), (O!=0)*(1-Omega)*O))

rank =  39
tau= -49.344501080904955
0.10163563029721315
0.07927069748682591
3.2271527022235915
nan
502243.9286677714

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: RuntimeWarning: invalid value encountered in double_scalars
rank =  47
tau= -49.39798675385443
0.10077312984144667
0.07844285629011481
3.1455839363705977
nan
493755.8115406329

rank =  55
tau= -49.542224240737646
0.10004126511959185
0.07774096424023415
3.037007971739661
nan
486610.0522881069

rank =  65
tau= -49.76177074994283
0.09935293637147453
0.07708160819280171
2.936922782801386
nan
479936.89811326744

rank =  75
tau= -50.024771565862636
0.0987746195334304
0.07652484240121549
2.8189849360690995
nan
474365.8944341515

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:48: RuntimeWarning: invalid value encountered in double_scalars
rank =  39
tau= -47.091048818348234
0.10283516734672161
0.0795326389498797
6.342667565435502
nan
518523.4996934537

rank =  48
tau= -47.48662256196609
0.10220727371218716
0.07893637158387436
6.184776942189293
nan
512210.80233334313

rank =  55
tau= -47.869821338552214
0.1014900191730303
0.07823548441025302
5.998423345966654
nan
505046.9984517433

rank =  65
tau= -48.26841203074949
0.1008422894925095
0.07759768765139231
5.779473214030613
nan
498620.94756721373

rank =  75
tau= -48.66744773203442
0.10030427809639725
0.07706328302322026
5.558465029916053
nan
493314.6790112856

rank =  39
tau= -48.97920887413264
0.10158889025719031
0.07932149749678778
-1.184611713220188
nan
505855.1805205548

rank =  48
tau= -49.37982475162736
0.10095315179414055
0.07871828870800555
-1.1929724195367015
nan
499543.75529099815

rank =  55
tau= -49.757985481295094
0.10021219309815102
0.07799613980149357
-1.192308965561374
nan
492237.7339720693

rank =  65
tau= -50.13475353775692
0.09955115479029364
0.07734898697392392
-1.2092514886922339
nan
485765.1721753093

rank =  75
tau= -50.52293188269486
0.09899668966969148
0.0767948402423904
-1.2874039687105194
nan
480369.1568108528

rank =  39
tau= -47.41832311514194
0.10013946158735246
0.07889937013841165
3.5198194905400753
nan
489327.8446888731

rank =  48
tau= -47.82993330990566
0.09951368810956213
0.07831656982999566
3.5058006171698795
nan
483231.3142866622

rank =  55
tau= -48.219530574141984
0.09878517864821164
0.07763387601828246
3.556450190263507
nan
476182.03277759376

rank =  65
tau= -48.581060807802196
0.09813268158559012
0.07702678641693946
3.6493863869368246
nan
469912.241340768

rank =  75
tau= -48.94384277643596
0.09757541641327222
0.07651342309382309
3.7020071263622434
nan
464590.42205163103

rank =  39
tau= -48.50833474995602
0.10400035063724412
0.07932023951449059
-0.29543346064684245
nan
528229.7704789295

rank =  48
tau= -48.90343419583332
0.10347578303788688
0.07880128418748861
-0.2206714996102562
nan
522914.53052296105

rank =  55
tau= -49.281721796318905
0.10278823172849266
0.07811012131116594
-0.1382918117573354
nan
515988.5407315907

rank =  65
tau= -49.669495701384015
0.1021649877502672
0.07747166455257236
-0.12300610344335296
nan
509750.24293582217

rank =  75
tau= -50.071192122439854
0.10164446917342555
0.07692335586010145
-0.18392967864970264
nan
504569.24007192836

rank =  39
tau= -47.53559637339356
0.09949148814893939
0.07871785343677597
2.874807699216848
nan
484083.05455529864

rank =  48
tau= -47.9310497629983
0.09895216157816628
0.07822064573250978
2.905099985100069
nan
478849.0144093777

rank =  55
tau= -48.32554384881879
0.09823471060942433
0.07755870993798088
2.9581698674051156
nan
471930.41395461716

rank =  65
tau= -48.700978379890444
0.09758402884330601
0.07695079099487802
3.029794504759486
nan
465699.225102391

rank =  75
tau= -49.06941274969183
0.09704006441918528
0.07643646261932091
3.0917317685346655
nan
460521.784489799

rank =  39
tau= -49.39236001951591
0.10315771774160906
0.07901537381675888
-3.3545652998875126
nan
519020.18898358167

rank =  48
tau= -49.794074321855085
0.10260388340216911
0.07850710926363923
-3.3737067882614404
nan
513462.10619274585

rank =  55
tau= -50.22659541333757
0.10186476996125486
0.07781759078615975
-3.434039894872059
nan
506091.2381250167

rank =  65
tau= -50.64683718396126
0.10119329282128554
0.07717804206330298
-3.5039552072906366
nan
499441.0754120408

rank =  75
tau= -51.06689197152541
0.1006294278254452
0.07663358894880878
-3.6079096354153917
nan
493890.6535619055

rank =  39
tau= -46.97003154917986
0.1008992937558908
0.07957825424401214
4.7367028081080305
nan
498051.40157430596

rank =  48
tau= -47.333038059350166
0.10036834912237713
0.07906693520657365
4.827510232245917
nan
492823.5757495926

rank =  55
tau= -47.7496610661676
0.09965922078229553
0.07838515736500858
4.828574266729036
nan
485884.32446036354

rank =  65
tau= -48.150091735454026
0.099010738918555
0.07776543333484495
4.829645648781091
nan
479581.60535836173

rank =  75
tau= -48.53342094750761
0.09846809829905025
0.07724205229400777
4.852382835560484
nan
474339.19787343754

rank =  39
tau= -48.14700885637006
0.1000348928566514
0.0791625917295499
0.7731712711600547
nan
488129.33204315155

rank =  48
tau= -48.48753690730277
0.09950676235007601
0.07864580421930867
0.9244338175055437
nan
482988.8161316251

rank =  55
tau= -48.85523548300855
0.09879425251360176
0.07795283186643433
1.093496199122937
nan
476096.77780274523

rank =  65
tau= -49.232777711368406
0.09814963320271243
0.0773167663919615
1.173716480912982
nan
469904.1112369557

rank =  75
tau= -49.60655116760978
0.09761769586282187
0.07678153605602604
1.2305425798960983
nan
464824.4754336216

rank =  39
tau= -46.34152274351753
0.10115590343341206
0.07896977775855529
6.8076349387467054
nan
506017.5425739029

rank =  48
tau= -46.72171995921307
0.1006058718848734
0.07846249980912937
6.817776800545912
nan
500529.5994997551

rank =  55
tau= -47.13288222866377
0.09986880259520665
0.07778771440621375
6.8460936251558415
nan
493222.4004074122

rank =  65
tau= -47.54296025082902
0.09920895682875874
0.07717981826533736
6.8200323792205
nan
486726.3664617411

rank =  75
tau= -47.96203605826061
0.09865653885402144
0.07665439931831101
6.727392653914119
nan
481321.0518649749

In [187]:
pd.DataFrame(results).describe()

       valid_error        tau  sum_of_square_Z  sum_of_square_1-Z
count    10.000000  10.000000        10.000000                0.0
mean      0.098971 -49.446850         0.070908                NaN
std       0.001475   0.976033         0.002192                NaN
min       0.097040 -51.066892         0.068179                NaN
25%       0.097830 -50.059587         0.069186                NaN
50%       0.098716 -49.337982         0.070650                NaN
75%       0.099977 -48.736546         0.072480                NaN
max       0.101644 -47.962036         0.074691                NaN

In [507]:
print(np.sum(Z)/Z.size)

0.5213127343868245

In [98]:
%run ./../src/algorithms/OLS.py

In [181]:
np.random.seed(1)
tau = 50

results = {}
results['valid_error'] = []
results['bias'] = []
results['tau'] = []
results['sum_of_square_Z'] = []

for t in range(10):
    Omega = (1 - (np.random.rand(O.shape[0], O.shape[1]) < 0.2)*Z) * (O!=0)
    M, tau = OLS_with_Omega(O, Omega, Z*Omega, tau_star = -0.5, debug=True)
    print(np.linalg.norm((O!=0)*(1-Omega)*(M+tau*Z-O)) / np.linalg.norm((O!=0)*(1-Omega)*O))
    print(np.sum((O!=0)*(1-Omega)*(M+tau*Z-O)) / np.sum((O!=0)*(1-Omega)))
    print(tau)

    results['valid_error'].append(np.linalg.norm((O!=0)*(1-Omega)*(M+tau*Z-O)) / np.linalg.norm((O!=0)*(1-Omega)*O))
    results['bias'].append(np.sum((O!=0)*(1-Omega)*(M+tau*Z-O)) / np.sum((O!=0)*(1-Omega)))
    results['tau'].append(tau)
    results['sum_of_square_Z'].append(np.sum(((O!=0)*(1-Omega)*Z*(M+tau*Z-O))**2) /  np.sum((O!=0)*Z*(1-Omega)*((O-mean_O)**2)))

-34.888801987515464
-43.982459940664
-47.30453276967162
0.1601472598876502
4.098287400215411
-47.30453276967162
-34.60721824604399
-43.442244149902805
-46.68331254950651
0.16106486912991158
9.46266569895046
-46.68331254950651
-35.685437924215194
-44.932128825575546
-48.30670767960753
0.15804819456895877
-1.491848551754604
-48.30670767960753
-34.44023906817903
-43.36188021590015
-46.64143419772543
0.15629876532284204
6.095289413948144
-46.64143419772543
-35.87183500656273
-45.241858902938894
-48.67466626055175
0.1613134593444511
-6.855222137850248
-48.67466626055175
-35.99339131616471
-45.210516708712774
-48.580848077429884
0.1574370429828865
-6.030024897681761
-48.580848077429884
-37.260738341747796
-47.01297525995277
-50.591619009379116
0.16050411190791847
-14.202629075622344
-50.591619009379116
-35.44206914831314
-44.71284768417338
-48.10940689657048
0.15871042323864257
4.086383361006196
-48.10940689657048
-35.903363854078734
-45.571766188235166
-49.109944226011606
0.15827803077818137
-4.936568025118493
-49.109944226011606
-34.51207275400028
-43.577121260540004
-46.89897622667075
0.15829385395817683
6.562404258436148
-46.89897622667075

In [182]:
pd.DataFrame(results).describe()

       valid_error       bias        tau  sum_of_square_Z
count    10.000000  10.000000  10.000000        10.000000
mean      0.159010  -0.321126 -48.090145         0.182758
std       0.001665   7.556368   1.249048         0.003397
min       0.156299 -14.202629 -50.591619         0.176465
25%       0.158106  -5.756661 -48.651212         0.181162
50%       0.158502   1.297267 -48.208057         0.182595
75%       0.160415   5.596039 -47.000365         0.185891
max       0.161313   9.462666 -46.641434         0.186874

In [105]:
M, tau = OLS(O, Z, tau_star = -0.5)
print(tau)

226.1662310343435

In [ ]:

M = np.zeros_like(O)
a = np.zeros((M.shape[0], 1))
b = np.zeros((M.shape[1], 1))

In [442]:
np.random.seed(1)
tau = 50

results = {}
results['valid_error'] = []
results['bias'] = []
results['tau'] = []
for t in range(10):
    Omega = (1 - (np.random.rand(O.shape[0], O.shape[1]) < 0.2)*Z) * (O!=0)
   
    #l = 4.2 
    l = 30000
    n = O.shape[0]
    m = O.shape[1]
    while (True):
        M, a, b, tau = convex_algorithm_with_Omega_with_fixed_effects(O, Omega, Z*Omega, l, suggest = [M, a, b, tau], debug = True)
        tau_debias, M_debias = debias(M, tau, Z*Omega, l)
        print('rank = ', np.linalg.matrix_rank(M))
        one_row = np.ones((1, M.shape[1]))
        one_col = np.ones((M.shape[0], 1))
        M1 = M_debias + a.dot(one_row) + one_col.dot(b.T)
        print('l=', l)
        print(tau_debias, tau)
        print(np.linalg.norm((O!=0)*(1-Omega)*(M1+tau_debias*Z-O)) / np.linalg.norm((O!=0)*(1-Omega)*O))
        #print(np.linalg.norm((Z)*(M1+tau*Z-O)) / np.linalg.norm((Z)*O))
        print(np.sum((O!=0)*(1-Omega)*(Z)*(M1+Z*tau_debias-O)) / np.sum((O!=0)*(1-Omega)*(Z)))
        print(np.sum((O!=0)*(1-Omega)*(1-Z)*(M1-O)) / np.sum((O!=0)*(1-Omega)*(1-Z)))

        print()
        l = l / 1.1

        r = np.linalg.matrix_rank(M)
        #if (r > 90):
        #    break

    results['valid_error'].append(np.linalg.norm((O!=0)*(1-Omega)*(M1+tau_debias*Z-O)) / np.linalg.norm((O!=0)*(1-Omega)*O))
    #results['bias'].append(np.sum((O!=0)*(1-Omega)*(Z)*(M1+Z*tau-O)) / np.sum((O!=0)*(1-Omega)*(Z)))
    results['bias'].append(np.sum((O!=0)*(1-Omega)*(Z)*(M1+Z*tau_debias-O)) / np.sum((O!=0)*(1-Omega)*(Z)))
    results['tau'].append(tau_debias)

15.672033943871563
-1.8584659028071664
-13.345256520344536
rank =  64
l= 30000
8.266500151490986 -13.345256520344536
0.07411065249859686
12.46519787436826
nan

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: invalid value encountered in double_scalars
-20.431560906391557
rank =  78
l= 27272.727272727272
-6.578052407273704 -20.431560906391557
0.07361430591559337
10.550891291941051
nan

-24.901907295265435
rank =  93
l= 24793.388429752064
-12.614296508711044 -24.901907295265435
0.07353042921469881
11.297342130118798
nan

-27.73901778706155
rank =  112
l= 22539.444027047328
-17.165757121239935 -27.73901778706155
0.0737267654883279
12.223226927472183
nan

-29.53154335191594
rank =  135
l= 20490.403660952114
-20.39097281461615 -29.53154335191594
0.07414690769209711
12.119784666093492
nan

-30.648836140990653
rank =  162
l= 18627.639691774646
-22.95674562712985 -30.648836140990653
0.07465705638179301
11.542184503967343
nan

-31.322221683956673
rank =  193
l= 16934.217901613312
-25.22701909402428 -31.322221683956673
0.0751321576812038
10.259020753070006
nan

-31.703987183731506
rank =  225
l= 15394.743546921192
-26.239773994931333 -31.703987183731506
0.0753116723015832
11.249575176202285
nan

-31.89214099508741
rank =  262
l= 13995.221406291992
-28.196243512592716 -31.89214099508741
0.07555994025008987
9.856921273670066
nan

-31.966206923724084
rank =  298
l= 12722.928551174537
-28.24303853087556 -31.966206923724084
0.07568661689513428
10.468446015091606
nan

-31.948744552421477
rank =  333
l= 11566.298682885941
-27.731860868171857 -31.948744552421477
0.0757607120952511
12.231582022972592
nan

-31.866316649558907
rank =  370
l= 10514.816984441764
-27.854682872078445 -31.866316649558907
0.07568513141830387
12.707512486356496
nan

-31.746638180225208
rank =  403
l= 9558.924531310695
-28.064919399288637 -31.746638180225208
0.07556857814145619
12.655317684256627
nan

-31.604816893259287
rank =  435
l= 8689.93139210063
-28.539989309932107 -31.604816893259287
0.07553854167674112
12.304318783905522
nan

-31.458045378472175
rank =  467
l= 7899.937629182391
-29.03219729189353 -31.458045378472175
0.07547114422076293
11.632274859900114
nan

-31.304517653419996
rank =  496
l= 7181.7614810749
-28.29128827546836 -31.304517653419996
0.07549841485204435
12.902935079621885
nan

-31.14550439662334
rank =  523
l= 6528.8740737044545
-28.988293157925735 -31.14550439662334
0.0754523283146798
11.834293996746664
nan

-30.98874321801523
rank =  549
l= 5935.340067004049
-29.59751183732029 -30.98874321801523
0.07546748104868248
11.07604961410639
nan

-30.84187820588935
rank =  572
l= 5395.763697276408
-29.841554760216844 -30.84187820588935
0.0755285122535959
10.782979983516713
nan

-30.70135564375157
rank =  595
l= 4905.239724796734
-29.535309537687525 -30.70135564375157
0.0755637574214824
11.190154006426573
nan

-30.569767304822207
rank =  615
l= 4459.308840724303
-30.023925727182753 -30.569767304822207
0.07563803268110604
10.418785755146628
nan

-30.445475077672683
rank =  634
l= 4053.9171279311845
-29.975290381789097 -30.445475077672683
0.07573251740668763
10.421054182967358
nan

-30.327201411960086
rank =  650
l= 3685.3792072101674
-30.029088589634984 -30.327201411960086
0.07581447706333033
10.268601659685126
nan

-30.215797953310023
rank =  664
l= 3350.3447338274245
-29.90381407609496 -30.215797953310023
0.07591989002762409
10.362917430468405
nan

-30.111045509899053
rank =  679
l= 3045.767939843113
-30.32470537790806 -30.111045509899053
0.07601875410533686
9.702187812363745
nan

-30.013881826689143
rank =  692
l= 2768.8799453119204
-30.37741975474059 -30.013881826689143
0.076131923250762
9.61861749238614
nan

-29.92485010746679

KeyboardInterrupt:

In [440]:
pd.DataFrame(results).describe()

       valid_error       bias        tau
count    10.000000  10.000000  10.000000
mean      0.073356   3.180743 -34.455351
std       0.002191   5.869564  12.787340
min       0.070582  -6.256288 -41.083073
25%       0.071875  -0.685399 -40.116202
50%       0.072574   5.122857 -39.783527
75%       0.075221   6.760864 -37.666493
max       0.076784  12.522141  -0.107766

In [219]:
M_debias, tau_debias, info = non_convex_algorithm_with_Omega(O, Omega, Z, 400, tau = 44, debug = True)
print(np.linalg.norm((1-Omega)*(M_debias+tau_debias*Z-O)) / np.linalg.norm((1-Omega)*O))

50.14290596306389
53.59888075826649
54.25817381585397
52.857927929568596
50.247609866302966
47.04748195178352
43.632552483072125
40.212185492467654
36.897875156179325
33.74507494895717
30.777394988118118
28.00063065030144
25.410893238589427
22.999267077451215
20.754460254036392
18.664323165877125
16.716723267279622
14.900037687700035
13.203407995425842
11.616844776618384
10.131240608359114
8.738331632839069
7.430634216619525
6.201372776292886
5.044407581308919
3.9541668054681387
2.9255845721614127
1.9540454688840834
1.0353354126031005
0.16559847603654926
-0.6587008393267396
-1.440810449567207
-2.1837192294586427
-2.89018180628581
-3.562740130919064
-4.203742309050743
-4.815359131543152
-5.399598695948417
-5.958319462777881
-6.4932420380672635
-7.005959918762924
-7.497949382103181
-7.970578646420075
-8.425116383519445
-8.8627396245088
-9.284541074146558
-9.691535833706416
-10.084667528669549
-10.46481384220161
-10.832791466670491
-11.189360499209084
-11.535228321702691
-11.871053017790423
-12.197446388216079
-12.514976630516083
-12.82417074923162
-13.125516759307244
-13.419465738662696
-13.706433777177025
-13.986803859511078
-14.260927708948346
-14.529127610081744
-14.791698219463784
-15.048908366494016
-15.301002841221772
-15.54820416191574
-15.790714312921862
-16.028716442141363
-16.26237650739348
-16.491844861710337
-16.7172577687493
-16.93873884112763
-17.156400396156386
-17.370344725237292
-17.580665274607814
-17.78744773684723
-17.99077105361575
-18.190708331203766
-18.38732767140499
-18.58069292079142
-18.770864342022115
-18.95789921124136
-19.14185234574167
-19.322776566342824
-19.50072309887805
-19.675741919321496
-19.84788204697628
-20.017191790115007
-20.1837189482966
-20.347510975592392
-20.508615108741107
-20.667078464100634
-20.822948107152136
-20.976271098229322
-21.127094517786066
-21.275465474467875
-21.421431099112358
-21.56503852744762
-21.706334874196628
-21.84536720099781
-21.982182480292053
-22.116827557239773
-22.24934911133811
-22.37979361921263
-22.50820731986734
-22.634636183372024
-22.759125883799477
-22.881721776885282
-23.002468882843186
-23.121411874436134
-23.23859507024941
-23.354062433031654
-23.46785757274677
-23.58002375388779
-23.690603906540797
-23.79964064056623
-23.90717626229203
-24.013252792980555
-24.117911988412537
-24.221195358903433
-24.32314418905999
-24.42379955669742
-24.52320235029904
-24.621393284528004
-24.718412913301798
-24.81430164007546
-24.909099724956413
-25.002847288481743
-25.09558431178659
-25.187350633150473
-25.278185940767504
-25.368129761882134
-25.457221448228722
-25.54550015802722
-25.63300483460506
-25.719774181914836
-25.805846637165278
-25.8912603408424
-25.976053104422817
-26.060262376047717
-26.14392520453863
-26.227078202033297
-26.309757505599375
-26.391998738122066
-26.473836968802928
-26.555306673580873
-26.63644169577349
-26.717275207220837
-26.79783967022023
-26.878166800456018
-26.958287531194873
-27.038231978967822
-27.118029410921608
-27.197708213958016
-27.277295865926316
-27.35681890890414
-27.436302924692153
-27.515772512661485
-27.595251269983695
-27.6747617742812
-27.754325568816068
-27.83396315012255
-27.91369395817874
-27.993536369074892
-28.073507690126654
-28.153624157453784
-28.233900935939523
-28.314352121523616
-28.394990745761543
-28.47582878257458
-28.556877157134156
-28.63814575675661
-28.719643443760738
-28.80137807014904
-28.883356494082523
-28.96558459794577
-29.048067308025146
-29.130808615581905
-29.21381159933345
-29.297078449102504
-29.380610490671234
-29.46440821163637
-29.548471288205146
-29.63279861283765
-29.717388322605583
-29.80223782819565
-29.88734384346632
-29.972702415418226
-30.05830895456217
-30.14415826551127
-30.230244577775487
-30.31656157663778
-30.40310243402565
-30.489859839354374
-30.576826030177873
-30.663992822631446
-30.751351641608213
-30.83889355054955
-30.92660928081361
-31.01448926058052
-31.102523643190118
-31.190702334927032
-31.279015022128785
-31.367451197618088
-31.45600018641171
-31.544651170655314
-31.63339321374912
-31.72221528367332
-31.811106275419583
-31.90005503254821
-31.989050367875205
-32.07808108319802
-32.167135988149
-32.256203918059974
-32.34527375091934
-32.43433442336111
-32.5233749457746
-32.61238441638631
-32.701352034474546
-32.790267112648245
-32.87911908821999
-32.96789753366334
-33.05659216623112
-33.14519285664971
-33.23368963704616
-33.322072708003255
-33.410332444814586
-33.498459403002265
-33.58644432305904
-33.67427813446061
-33.761951958997386
-33.84945711340184
-33.93678511139495
-34.023927665053975
-34.11087668562069
-34.197624283751416
-34.28416276924344
-34.37048465023145
-34.456582631950695
-34.54244961502663
-34.62807869335707
-34.71346315163829
-34.798596462468375
-34.88347228319107
-34.96808445238947
-35.052426986129014
-35.136494073933456
-35.220280074562204
-35.30377951156909
-35.386987068709
-35.4698975851817
-35.55250605078355
-35.63480760094233
-35.71679751166511
-35.79847119448481
-35.87982419132895
-35.96085216939173
-36.04155091606277
-36.12191633383252
-36.201944435283465
-36.28163133816136
-36.36097326050892
-36.43996651592729
-36.51860750894503
-36.59689273055115
-36.67481875384301
-36.752382229875295
-36.82957988364188
-36.906408510313604
-36.98286497158807
-37.05894619232852
-37.134649157354474
-37.20997090849974
-37.28490854185029
-37.35945920527632
-37.43362009613671
-37.50738845927884
-37.58076158523157
-37.65373680865926
-37.72631150707078
-37.798483099748054
-37.87024904690222
-37.94160684908968
-38.01255404684229
-38.08308822052186
-38.15320699040026
-38.22290801692013
-38.29218900121635
-38.36104768576702
-38.429481855282376
-38.4974893377527
-38.565068005634416
-38.63221577725707
-38.69893061830675
-38.765210543492955
-38.831053618299016
-38.896457960887155
-38.961421744070485
-39.025943197359624
-39.09002060913245
-39.153652328813365
-39.216836769124065
-39.27957240837451
-39.34185779277018
-39.40369153874254
-39.46507233525829
-39.52599894614258
-39.58647021235389
-39.64648505426502
-39.70604247385059
-39.765141556847176
-39.82378147487823
-39.881961487432555
-39.93968094383087
-39.99693928507672
-40.05373604559244
-40.1100708548821
-40.16594343906933
-40.221353622305976
-40.27630132806848
-40.330786580350455
-40.38480950466919
-40.4383703289952
-40.491469384491836
-40.54410710616777
-40.596284033325304
-40.648000809929286
-40.699258184792214
-40.75005701158504
-40.800398248798665
-40.85028295945774
-40.899712310748995
-40.94868757350285
-40.997210121512275
-41.045281430743906
-41.09290307841328
-41.14007674188987
-41.1868041975182
-41.23308731932013
-41.27892807754823
-41.32432853710354
-41.36929085594586
-41.41381728328777
-41.457910157742006
-41.501571905364266
-41.544805037635264
-41.58761214930631
-41.629995916218014
-41.67195909300612
-41.713504510781945
-41.75463507473142
-41.79535376165741
-41.83566361749731
-41.875567754736586
-41.9150693498876
-41.954171640835575
-41.992877924245356
-42.03119155285958
-42.06911593287745
-42.10665452123923
-42.14381082297451
-42.18058838849634
-42.21699081096065
-42.25302172355713
-42.2886847968924
-42.32398373635285
-42.35892227948609
-42.393504193434175
-42.42773327237559
-42.461613334997004
-42.495148222040115
-42.52834179382556
-42.561197927896536
-42.59372051662846
-42.625913464947025
-42.65778068806341
-42.68932610928169
-42.7205536578277
-42.75146726676686
-42.782070870966464
-42.812368405106355
-42.84236380174505
-42.872060989474846
-42.90146389110413
-42.93057642189675
-42.959402487893584
-42.98794598429451
-43.016210793872126
-43.04420078546633
-43.071919812535235
-43.099371711761336
-43.12656030171766
-43.153489381568036
-43.180162729878404
-43.20658410342697
-43.23275723608311
-43.2586858377696
-43.284373593423375
-43.30982416205616
-43.33504117582016
-43.36002823917224
-43.38478892802078
-43.409326788990704
-43.43364533864675
-43.45774806285151
-43.48163841605117
-43.50531982071398
-43.52879566675428
-43.552069310954685
-43.575144076490645
-43.59802325244451
-43.62071009336145
-43.64320781881956
-43.665519613080455
-43.68764862468663
-43.70959796613216
-43.7313707135805
-43.75296990654962
-43.77439854763637
-43.79565960228297
-43.816755998533836
-43.83769062683594
-43.85846633983345
-43.87908595219686
-43.8995522404392
-43.91986794278449
-43.94003575902455
-43.96005835036971
-43.97993833937108
-43.99967830979541
-44.01928080654384
-44.0387483355366
-44.05808336368177
-44.07728831878584
-44.096365589511194
-44.11531752529063
-44.134146436338874
-44.15285459357289
-44.17144422862859
-44.18991753379071
-44.20827666201535
-44.226523726919105
-44.24466080277767
-44.262689924518206
-44.28061308774742
-44.29843224876733
-44.31614932460131
-44.33376619302659
-44.35128469260683
-44.36870662274694
-44.386033743753394
-44.40326777685524
-44.42041040431421
-44.43746326946372
-44.454427976809285
-44.47130609209893
-44.48809914243027
-44.504808616347376
-44.52143596394162
-44.53798259696992
-44.554449888986284
-44.57083917546271
-44.5871517539341
-44.603388884152686
-44.61955178821462
-44.635641650757506
-44.651659619116906
-44.66760680349294
-44.68348427716648
-44.699293076685855
-44.71503420204358
-44.73070861693292
-44.7463172489503
-44.761860989815425
-44.77734069562942
-44.79275718710392
-44.808111249831796
-44.82340363454816
-44.838635057392324
-44.853806200206655
-44.86891771080376
-44.88397020327741
-44.8989642583067
-44.91390042345485
-44.928779213521196
-44.9436011108199
-44.95836656556004
-44.973075996167125
-44.98772978962326
-45.00232830184622
-45.01687185802987
-45.031360753030924
-45.0457952517307
-45.06017558942091
-45.07450197220325
-45.0887745773578
-45.10299355375528
-45.11715902226305
-45.13127107614585
-45.14532978149172
-45.15933517761276
-45.173287277480604
-45.18718606814121
-45.20103151115371
-45.21482354301788
-45.22856207562535
-45.24224699668409
-45.25587817016641
-45.269455436751805
-45.28297861428612
-45.296447498219884
-45.3098618620679
-45.32322145787106
-45.336526016637706
-45.349775248813664
-45.36296884474621
-45.37610647512611
-45.38918779146205
-45.40221242654343
-45.41517999491109
-45.42809009330445
-45.4409423011443
-45.453736180971696
-45.466471278941974
-45.47914712526578
-45.49176323469656
-45.50431910696599
-45.51681422727219
-45.52924806673673
-45.541620082853676
-45.553929719963385
-45.566176409709186
-45.578359571507654
-45.59047861297891
-45.60253293042998
-45.61452190930349
-45.626444924636615
-45.63830134149671
-45.65009051543647
-45.6618117929725
-45.67346451198872
-45.6850480022078
-45.69656158564393
-45.708004577024276
-45.71937628422904
-45.730676008748986
-45.74190304609775
-45.75305668626387
-45.76413621413783
-45.77514090992231
-45.78607004958433
-45.79692290527063
-45.80769874570938
-45.81839683666268
-45.829016441312675
-45.83955682068816
-45.850017234075864
-45.86039693941644
-45.87069519371963
-45.880911253450456
-45.891044374952585
-45.90109381481645
-45.911058830274584
-45.92093867960623
-45.93073262250044
-45.94043992043502
-45.95005983708112
-45.959591638645705
-45.96903459425376
-45.97838797630367
-45.98765106083537
-45.996823127888696
-46.00590346185511
-46.014891351816495
-46.023786091900625
-46.032586981598314
-46.04129332612343
-46.04990443672257
-46.05841963100567
-46.06683823326246
-46.07515957479512
-46.083382994194174
-46.091507837654056
-46.09953345928852
-46.10745922140186
-46.115284494780454
-46.123008658975344
-46.130631102580935
-46.138151223496166
-46.145568429192366
-46.15288213696832
-46.16009177420648
-46.16719677859383
-46.17419659838977

KeyboardInterrupt:

In [341]:
print(tau_debias, tau)
print(np.linalg.norm((1-Omega)*(M_debias+tau_debias*Z-O)) / np.linalg.norm((1-Omega)*O))
#print(np.linalg.norm((1-Omega)*(M-O)) / np.linalg.norm((1-Omega)*O))

0.06592672264061933 0.10729437957564492
0.24319876814340388

In [ ]:
np.linalg.norm((M-O)*(1-Z)) / np.linalg.norm(M*(1-Z))

In [235]:
print(np.sum(O*Z3) / np.sum(Z3), np.sum(O*(1-Z3)) / np.sum(1-Z3))

6.575123082458817 6.005232359927543